.grey-round-box{
    border: 0.5px lightgrey solid;
    padding: 30px;
    border-radius: 5px;
}

/* Ref: https://codepen.io/AllThingsSmitty/pen/WjZVjo */

.question-prefix{
  margin-right: 10px;
}

.question-box .title{
  margin-bottom: 20px;
}

.question-box .checkboxes-container{
  margin-bottom: 20px;
}

.question-suffix{
  margin-left: 10px;
}

.spacebox{
  margin-top: 30px;
  margin-bottom: 30px;
}

.round-checkbox {
  position: relative;
  display: inline-block;
  width: 28px;
  margin: 0 10px;
}

.round-checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round-checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}